<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Offensive Tweet Filter</h1>
<form method="POST">
    <div class="form-group">
        <input type="textarea" name="text">
        <input type="submit" name="submit" value="Opposite">
        <input type="submit" name="submit" value="Funny">
    </div>
    </div>
</form>
</body>
</html>